/* Estilos de FodaLila */
.FodaLila {
    padding: 60px 20px;
    background-color: #f4f4f4;
    max-width: 100%;
    margin: 0 auto;
  }
  
  /* Ajustamos el margen del párrafo para separar más de las cuadrículas */
  .FodaLila p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 120px;
    line-height: 1.6;
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Asegurar que las cuadrículas también tengan un margen superior suficiente */
  .FodaLila-section {
    margin-top: 50px;
  }
  
  /* Añadir el efecto de zoom */
  .FodaLila-section .MuiPaper-root {
    transition: transform 0.3s ease-in-out;
    padding: 20px;
    text-align: center; /* Centrar el texto dentro del Paper */
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinear horizontalmente al centro */
  }
  
  /* Efecto de zoom al pasar el cursor sobre el Paper */
  .FodaLila-section .MuiPaper-root:hover {
    transform: scale(1.05);
  }
  
  .FodaLila-subtitle {
    font-size: 2rem;
    color: #936A9F;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .FodaLila-text {
    font-size: 1.2rem;
    color: #666;
    text-align: left; /* Alinea el texto de las listas a la izquierda */
    line-height: 1.6;
  }
  
  /* Estilo para centrar las listas de viñetas como en el ejemplo */
  .FodaLila-text ul {
    list-style-position: inside; /* Viñetas dentro de los márgenes */
    padding-left: 20px; /* Añadir espacio a la izquierda para las viñetas */
    text-align: left; /* Alinea las viñetas y el texto a la izquierda */
  }
  
  .FodaLila-text ul li {
    margin-bottom: 10px; /* Espacio entre los elementos de la lista */
  }
  