.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.footer-left {
  position: relative;
  padding-right: 20px;
}

.footer-left::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: white; /* Color de la línea */
}

.footer-center {
  text-align: center;
}

.footer-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.footer-menu li {
  margin: 0 10px;
  cursor: pointer;
}

.footer-right {
  text-align: right;
}

.footer-socials {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.footer-socials li {
  margin: 0 10px;
  cursor: pointer;
}
 
.footer-socials a {
  color: inherit; 
}

.footer-socials a:hover {
  color: inherit; 
}
