/* Asegurar que el fondo cubra todo y no haya margen o relleno */
.homeContainer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #141517; /* Fondo oscuro */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; /* Evita el desbordamiento */
  z-index: -1; /* Mantén el fondo detrás de otros elementos */
}

.introMessage {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

/*Big header*/
.introMessage > h1 {
  text-align: center;
  margin-top: -50px;
  font-size: 5em;
  color: #ff4500;
}

/*small header*/
.introMessage > h3 {
  text-align: center;
  color: #e76a3e;
}

@media (max-width: 767px) {
  .introMessage {
    padding-bottom: 15%;
  }

  .introMessage > h1 {
    font-size: 3em;
  }

  .introDivider {
    width: 100%;
  }
}

/*section 2*/
.contentSectionA {
  font-size: 22px;
  font-weight: bold;
  background-color: #282a2e; /* Fondo oscuro similar */
  padding: 40px; /* Más espaciado interno para darle aire */
  border-radius: 20px; /* Bordes suavemente redondeados */
  max-width: 900px; /* Tamaño máximo para la tarjeta */
  margin: 50px 50px 300px 180px; /* Centrando la tarjeta */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8),
              0 30px 60px rgba(0, 0, 0, 0.8);
  position: relative; /* Para poder ajustar el contenido internamente */
  color: white; /* Texto en blanco */
}

.lead {
  text-align: left;
  color: #aaaba6;
}

.sectionHeading {
  color: #f45027; /*se queda*/
}

/* Portfolio section*/
#belowSection {
  color: #f80505;
}

.sectionHeadingSpacer {
  float: left;
  width: 200px;
  border-top: 3px solid #f10c0c;
}


/* footer */

.footer {
  background-color: #84a5c8;
  color: white;
  padding: 20px 0;
  font-family: Arial, sans-serif;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.footerLeft {
  position: relative;
  padding-right: 20px;
}

.footerLeft::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: white; /* Color de la línea */
}

.footerCenter {
  text-align: center;
}

.footerMenu {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.footerMenu li {
  margin: 0 10px;
  cursor: pointer;
}

.footerRight {
  text-align: right;
}

.footerSocials {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.footerSocials li {
  margin: 0 10px;
  cursor: pointer;
}

.footerSocials a {
  color: inherit;
}

.footerSocials a:hover {
  color: inherit;
}


/* Navigation */
.navbar {
  background-color: #f45027;
  border-radius: 50px;
  width: fit-content;
  padding: 10px 30px;
  margin: 20px auto;
  box-shadow: 0 4px 15px #e76a3e;
  display: flex;
  justify-content: center;
}

.navbarMenu {
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.navbarItem {
  position: relative;
}

.navbarLink {
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.navbarLink:hover {
  background-color: rgba(20, 21, 23, 0.341);
}
/* 
.active .navbarLink {
  color: #ed9907;
} */


.cardAlign {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  
} 

/* Estilos para la tarjeta individual */
.cardAlign > * {

  width: 300px; /* Ancho fijo de las tarjetas */
  transition: transform 0.3s ease; /* Transición suave para el efecto de zoom */
}

.cardAlign > *:hover {
  
  transform: scale(1.05); /* Aumenta el tamaño en un 5% al pasar el cursor */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: añade una sombra para mayor efecto */
}
