@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

html {
  scroll-behavior: smooth;
}

.homeContainer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #141517; /* Fondo oscuro */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; /* Evita el desbordamiento */
  z-index: -1; /* Mantén el fondo detrás de otros elementos */
}

.introMessage {
  position: relative;
  padding-top: 12%;
  padding-bottom: 12%;
}

.sectionHeading {
  font-family: 'Righteous'; 
}


/*Big header*/
.introMessage > h1 {
  text-align: center;
  margin-top: -50px;
  font-size: 5em; /* Tamaño base del texto */
  color: #ff4500; /* Color naranja para todo el texto */
  font-family: "Righteous";
}

/*small header*/
.introMessage > h3 {
  text-align: center;
  color: #ed7226;
}

/*section 2*/
.contentSectionA {
  font-size: 22px;
  font-weight: bold;
  background-color: #282a2e;
  padding: 40px;
  border-radius: 20px;
  max-width: 1100px; /* Aumenta el ancho máximo para que entren las tarjetas en una fila */
  width: 90%; /* Opcional: define un ancho del 90% del contenedor padre */
  margin: 100px auto; /* Centra el contenedor */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8), 0 30px 60px rgba(0, 0, 0, 0.8);
  position: relative;
  color: #aba7a6;
}

.lead {
  text-align: left;
  color: #aba7a6;
}

.sectionHeading {
  color: #f45027;
}

.contentSectionA .sectionHeading {
  margin-bottom: 0.08em; /* Reduce el espacio debajo del subtítulo */
}

.contentSectionA .lead {
  margin-top: 0; /* Elimina cualquier margen superior */
}



/* Portfolio section*/
#belowSection {
  color: #f80505;
}

.sectionHeadingSpacer {
  float: left;
  width: 200px;
  border-top: 3px solid #f10c0c;
}

/* footer */

.footer {
  background-color: #f45027;
  color: #141517;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 500;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.footerLeft {
  position: relative;
  padding-right: 20px;
}

.footerLeft > h2 {
  color: #141517;
}

.footerLeft::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: #141517; /* Color de la línea */
}

.footerCenter {
  text-align: center;
}
.footerCenter > p {
  color: #141517;
}

.footerMenu {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.footerMenu li {
  margin: 0 10px;
  cursor: pointer;
}

.footerRight {
  text-align: right;
}

.footerSocials {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.footerSocials li {
  margin: 0 10px;
  cursor: pointer;
}

.footerSocials a {
  color: inherit;
}

.footerSocials a:hover {
  color: inherit;
}

/* Navigation */
.navbar {
  background-color: #f45027;
  border-radius: 50px;
  width: fit-content;
  padding: 10px 30px;
  margin: 20px auto;
  box-shadow: 0 4px 15px #e76a3e;
  display: flex;
  justify-content: center;
}

.navbarMenu {
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.navbarItem {
  position: relative;
}

.navbarLink {
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.navbarLink:hover {
  background-color: rgba(20, 21, 23, 0.341);
}
/* 
.active .navbarLink {
  color: #ed9907;
} */

 .cardAlign {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
} 

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease; 
} 



.card:hover {
  transform: scale(1.05);
}


/* Responsivo: Ajustar el tamaño de la tarjeta en pantallas más pequeñas */
@media (max-width: 768px) {
  .card {
    width: 250px;  /* Ancho más pequeño en pantallas medianas */
    height: 350px; /* Altura más pequeña en pantallas medianas */
  }
}

@media (max-width: 480px) {
  .card {
    width: 200px;  /* Ancho más pequeño en pantallas pequeñas */
    height: 300px; /* Altura más pequeña en pantallas pequeñas */
  }
}