.footer {
  background-color: #c1a6cf;
  color: #000000a4;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 500;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.footerLeft {
  position: relative;
  padding-right: 20px;
}

.footerLeft > h2 {
  color: #141517;
}

.footerLeft::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: #141517;
}

.footerCenter {
  flex: 2; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.footerCenter > p {
  color: #141517;
  margin: 0%;
}


.iconContainer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
  width: 100%; 

}

.icon {
  font-size: 35px !important;
  color: #141517 !important;
  cursor: pointer;
  transition: all 0.3s ease !important;	
}

.icon:hover {
  transform: scale(1.1);
  color: rgba(23, 21, 20, 0.341) !important;
}